<div class="row">
	
	<div class="col-md-8">
		<!-- Nav tabs -->
	  <ul class="nav nav-tabs" role="tablist">
	    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
	    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
	    <li role="presentation"><a href="#characters" aria-controls="characters" role="tab" data-toggle="tab">Characters</a></li>
	    <li role="presentation"><a href="#events" aria-controls="events" role="tab" data-toggle="tab">Events</a></li>
	  </ul>

	  <!-- Tab panes -->
	  <div class="tab-content">
	    <div role="tabpanel" class="tab-pane" id="home">Home page for the user</div>
	    <div role="tabpanel" class="tab-pane active" id="profile">
	    	<%= render 'users/show' %>
	    </div>
	    <div role="tabpanel" class="tab-pane" id="characters">Here comes your characters
				<%= render partial: "characters/index", :locals => {:characters => @characters}  %>
	    </div>
	    <div role="tabpanel" class="tab-pane" id="events"> 
	      	<%= render partial: "events/index", :locals => {:events => @events}  %>
	    </div>
	  </div>

	
	</div>
</div>