
  <div class="col-xs-8">
    <div class="well">
      <strong>Title:</strong></br>
      <div>
        <%= @post.title%>
      </div>
      
    </div class="well">

    <div class="well well-lg">
      <strong>Content:</strong></br>
      <div style="overflow-y: scroll; margin-bottom: 12px;">
        <%= @post.content.html_safe %>
      </div>
      
    </div>

    <%= link_to 'Edit', edit_post_path(@post) %> |
    <%= link_to 'Back', posts_path %>
  </div>
