<div class="col-xs-12">
  <div class="well">
    <strong>Title:</strong>
    <span>
      <%= @post.title%>
    </span>    
  </div class="well">
  <div class="well well-lg">
    <strong>Content:</strong></br>
    <div style="overflow-y: scroll; margin-bottom: 12px;">
      <%= @post.content.html_safe %>
    </div>    
  </div>
  <% if current_user %>
    <% if (current_user.role === "admin") %>
      <%= link_to 'Edit', edit_post_path(@post) %> |
      <%= link_to 'Back', posts_path %>
    <%end%>
  <%end%>
</div>
